body {
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
}
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 80vh;
    background-color: transparent; 
    position: absolute;
    margin-top: -40vh;
    left: 20vw;
    right: 20vw;
    top: 50%;
    align-items: center;
}
.calculator {
    min-width: 40%;
    min-height: 85%;
    background-color: #566885;
    border: 2px solid black;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 76%;
    height: 35px;
    background-color: whitesmoke;
    margin: 20px 0;
    padding-right: 20px;
}
#display, .button {
    color: black;
    font-weight: 600;
    font-size: 24px;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #D6E1EF;
    margin-top: 10px;
    width: 80%;
    height: 76%;
}
.buttons-row {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.row-1, .row-end {
    display: flex;
    justify-content: flex-end;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #D6E1EF;
    text-decoration: none;
}
.clear, .divide, .zero, .dot, .equals-button {
    margin: 0 2% 1%;
}
.log {
    width: 50%;
    height: 85%;
    overflow: auto;
}
.log-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
}
.log-message {
    width: 60%;
    color: black;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.circle {
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
}
.cross {
    color: black;
    font-size: 28px;
}
.cross-red {
    color: red;
}
.red {
    background-color: red;
    color: red;
}